@model PageDataView<LoginUser>
@using AsEasy.Ext;
@using DataStore.Entity;
@using DataStore.Dal.Pager;

<head>
    <title></title>
    <script data-main="../Scripts/Lib/Account.List.js" src="~/Scripts/require.js"></script>
    <link href="~/Content/Basic.css" rel="stylesheet" />
</head>
<form>
    <ul>
        <li>
            <span>登录名：</span>
            <input id="name" name="name" />
        </li>
        <li>
            <span>状态：</span>
            <input id="status" name="status" />
        </li>
    </ul>
    <input type="submit" id="btnSearch" value="查询" />

    <ul>
        @foreach (var user in Model.Items)
        {
            <li>
                @user.LoginName
            </li>
        }
    </ul>

    @Html.PageLinks(Model, p => @Url.Action("List", new { pageIdx = p, pageSize = 5 }))
</form>