<form action="@Url.Action("LoginSubmit", "Account")" method="POST">
    <div>
        <span>用户名：</span>
        <input id="loginName" name="loginName" type="text" />
    </div>
    <div>
        <span>密码：</span>
        <input id="pwd" name="pwd" type="password" />
    </div>
    <div>
        <input type="submit" value="Go" />
    </div>
</form>