<head>
    <title>登录</title>
    <script data-main="../Scripts/Lib/Login.js" src="~/Scripts/require.js"></script>
    <style>
        html {
            font-size: 12px;
        }

        li {
            line-height: 28px;
        }

        span {
            width: 200px;
            display: inline-block;
        }

        label {
            display: inline;
        }

        input.error {
            border: solid 1px red;
        }

        label.error {
            color: red;
            margin-left: 5px;
        }
    </style>
</head>
<form>
    <div>
        <span>用户名：</span>
        <input id="loginName" name="loginName" type="text" />
    </div>
    <div>
        <span>密码：</span>
        <input id="pwd" name="pwd" type="password" />
    </div>
    <div>
        <span>密码：</span>
        <img src="@Url.Action("CreateCheckCode")" onclick="this.src = '@Url.Action("CreateCheckCode")'+'?f='+ Math.random()" title="单击切换图片" />
        <input id="checkCode" name="checkCode" type="text" />
    </div>
    <div>
        <input id="submit" type="button" value="登录" />
    </div>
</form>